.wrp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 7%;
  width: 515px;
  height: 490px;
  padding: 32px;

  font: text.$cardText;

  background-color: colors.$cardBg;
  border: 1px solid colors.$textAndBorder;
  border-radius: 32px;

  .cover {
    width: 27%;
    align-self: flex-start;

    object-fit:fill;
  }

  .dataWrp {
    width: 66%;
    height: 332px;

    .title {
      height: 24px;
      margin-bottom: 16px;

      font: text.$h3;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;

      overflow-x: hidden;
    }

    .data {
      margin-bottom: 8px;

      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;

      vertical-align: top;
      overflow: hidden;

      .field {
        margin-right: 16px;
        margin-bottom: 4px;

        font: text.$cardText;

        color: colors.$placeholder;
      }
    }

    .dataDesc {
      margin-bottom: 8px;

      text-align: left;

      .fieldDesc {
        display: block;
        margin-bottom: 4px;

        font: text.$cardText;

        color: colors.$placeholder;
      }

      .content {
        font: text.$cardText;

        overflow: hidden;
      }
    }

    .dataLibrary {
      text-align: left;

      .field {
        margin-right: 16px;
        margin-bottom: 4px;

        font: text.$cardText;

        color: colors.$placeholder;
      }
    }
  }

  .rentBtn {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 16px 24px;

    font: text.$buttonText;
    text-align: center;

    background-color: colors.$button1;
    box-shadow: buttons.$btn-shadow;
    vertical-align: middle;
    border-radius: 16px;
    
    cursor: pointer;
  }

  .rentBtn:hover {
    box-shadow: none;
  }

  .rentBtn:active {
    background-color: colors.$button1Pressed;
    box-shadow: none;
  }

  .rentBtn:disabled {
    background-color: colors.$disabled;
    box-shadow: none;
    color: colors.$disabled;
  }
}

