.users {
  width: 100%;

  .header {
    margin-bottom: 40px;

    font: text.$h1h2;
  }

  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;

    font: text.$label;
    text-align: left;

    .labelName {
      width: 100%;

      cursor: pointer;
    }

    .labelContact {
      width: calc(50% - 16px);

      cursor: pointer;
    }

    .labelEmail {
      width: calc(50% - 16px);

      cursor: pointer;
    }

    .labelPassword {
      width: 100%;

      cursor: pointer;
    }

    .inputText {
      width: 100%;
      margin-top: 8px;
      padding: 16px 24px;

      font: text.$placeholder;

      border-radius: 16px;
      border: 1px solid colors.$textAndBorder;
      background-color: colors.$cardBg;

      &:focus {
        background-color: colors.$accentBg;
      }

      &::placeholder {
        color: colors.$placeholder;
      }
    }

    .descRoles {
      width: 100%;
    }

    .radioWrp {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
      width: 100%;

      font: text.$textP;

      .label {
        cursor: pointer;

        .desc {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 16px;

          &::before {
            display: inline-block;
            width: 30px;
            height: 30px;

            background-image: url("../../../../assets/icons/radio/circle/default.svg");
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: center;

            content: "";
          }
        }

        .inputRadio {
          position: fixed;
          transform: scale(0);

          &:checked ~ .desc::before {
            background-image: url("../../../../assets/icons/radio/circle/checked.svg");
          }
        }
      }
    }
      
    .btnsWrp {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 32px;
      width: 100%;
      margin-top: 8px;

      .btn {
        align-self: center;
        width: 300px;
        height: 50px;
        padding: 16px 24px;

        font: text.$buttonText;
        text-align: center;

        background-color: colors.$button1;
        box-shadow: buttons.$btnShadow;
        vertical-align: middle;
        border-radius: 16px;
        
        cursor: pointer;

        &:hover {
          box-shadow: none;
        }

        &:active {
          background-color: colors.$button1Pressed;
          box-shadow: none;
        }

        &:disabled {
          background-color: colors.$disabled;
          box-shadow: none;
          color: colors.$disabled;
        }
      }

      .submit {
        background-color: colors.$button2;

        &:active {
          background-color: colors.$button2Pressed;
          box-shadow: none;
        }
      }
    }

    
  }
}