$bg: rgb(246, 255, 247);

$textAndBorder: rgb(0, 0, 0);
$accentBg: rgb(240, 255, 241);
$placeholder: rgb(147, 164, 151);
$cardBg: rgb(255, 254, 240);
$disabled: rgb(152, 164, 155);
$formBg: rgb(214, 234, 216);

$button1: rgb(255, 195, 62);
$button1Pressed: rgb(244, 148, 37);

$button2: rgb(106, 163, 120);
$button2Pressed: rgba(35, 104, 91);