$bg: rgb(246, 255, 247);
$button2: rgb(106, 163, 120);
$textAndBorder: rgb(0, 0, 0);
$accentBg: rgb(240, 255, 241);
$placeholder: rgb(147, 164, 151);
$cardBg: rgb(255, 254, 240);
$disabled: rgb(152, 164, 155);