$buttonText: normal 600 16px "Montserrat", Helvetica, Arial, sans-serif;
$calendarDate: normal 400 16px "Montserrat", Helvetica, Arial, sans-serif;
$calendarHeader: normal 600 24px "Montserrat", Helvetica, Arial, sans-serif;
$calendarNavigationButton: normal 600 14px "Montserrat", Helvetica, Arial, sans-serif;
$label: normal 600 16px "Montserrat", Helvetica, Arial, sans-serif;
$placeholder: normal 400 16px "Montserrat", Helvetica, Arial, sans-serif;
$inputText: normal 400 16px "Montserrat", Helvetica, Arial, sans-serif;
$logo: normal 700 36px "Montserrat", Helvetica, Arial, sans-serif;
$footerText: normal 300 12px "Montserrat", Helvetica, Arial, sans-serif;
$h1h2: normal 600 36px "Montserrat", Helvetica, Arial, sans-serif;
$h1h2v2: normal 600 22px/1.2 "Montserrat", Helvetica, Arial, sans-serif;
$h3: normal 600 18px "Montserrat", Helvetica, Arial, sans-serif;
$textP: normal 400 16px/1.2 "Montserrat", Helvetica, Arial, sans-serif;
$textPv2: normal 400 16px/1.5 "Montserrat", Helvetica, Arial, sans-serif;
$cardText: normal 400 14px/1.2 "Montserrat", Helvetica, Arial, sans-serif;
$tableText: normal 400 14px/1.3 "Montserrat", Helvetica, Arial, sans-serif;
$message: normal 400 12px/1.3 "Montserrat", Helvetica, Arial, sans-serif;