$buttonText: normal 600 16px "Montserrat", Helvetica, Arial, sans-serif;
$calendarDate: normal 400 16px "Montserrat", Helvetica, Arial, sans-serif;
$calendarHeader: normal 600 24px "Montserrat", Helvetica, Arial, sans-serif;
$calendarNavigationButton: normal 600 14px "Montserrat", Helvetica, Arial, sans-serif;
$label: normal 600 16px "Montserrat", Helvetica, Arial, sans-serif;
$placeholder: normal 400 16px "Montserrat", Helvetica, Arial, sans-serif;
$inputText: normal 400 16px "Montserrat", Helvetica, Arial, sans-serif;