*, *::after, *::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: black;
}

button {
  border: none;
}

li {
  list-style-type: none;
}

:root {
  --button2: colors.$button2;

  font-family: "Montserrat", Helvetica, Arial, sans-serif;

  color: black;
  background-color: colors.$bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  box-sizing: border-box;

  width: 100%;
  margin: 0 auto;
  padding-top: 40px;

  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-align: center;

  background-color: colors.$bg;
}

.main {
  width: 1280px;
  margin: 0 auto;
}

#react-portal-wrapper {
  z-index: 150;
  position: fixed;
  top: 0;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 100vw;
  height: 40px;
}