.container {
  position: relative;
  z-index: 2000;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
  padding: 16px 36px 16px 16px;

  border-radius: 16px;
  transition: transform 0.5s, color 0.3s;

  transform: translateY(-80px);

  .check {
    width: 34px;
    height: 34px;

    color: colors.$button2Pressed;
  }

  .alert {
    width: 34px;
    height: 34px;

    color: colors.$error;
  }

  .close {
    position: absolute;
    top: 13px;
    right: 13px;

    width: 20px;
    height: 20px;

    color: colors.$textAndBorder;

    cursor: pointer;
  }

  p {
    margin-left: 16px;

    font: text.$label;

    color: colors.$textAndBorder;
  }

  &.active {
    transform: translateY(120px);
  }

  &.error {
    background: colors.$errorToastBg;
    color: colors.$error;
  }

  &.success {
    background: colors.$formBg;
    color: colors.$button2Pressed;
  }
}
