.container {
  min-width: 200px;
  height: 40px;
  transform: translateY(-80px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: transform 0.5s, color 0.3s;
  padding: 0 30px;
  z-index: 2000;

  p {
      color: white;
  }

  &.active {
      transform: translateY(80px);
  }

  &.error {
      background: colors.$button1Pressed;
  }

  &.success {
      background: colors.$button2;
  }
}
