.wrp {
  width: 100%;
  margin: 160px auto 200px;

  .header {
    font: text.$h1h2;

    text-align: center;
  }

  .message {
    width: 625px;
    margin: 40px auto 0;

    font: text.$textPv2;
    text-align: left;
  }
}