.sidePanel {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  // min-height: 530px;
  height: 100vh;
  margin-top: -40px;
  padding: 32px;

  background-color: colors.$formBg;
  border: 1px solid colors.$textAndBorder;
  border-radius: 32px;

  .avatar {
    width: 120px;
    height: 120px;

    border: 1px solid colors.$textAndBorder;
    background-color: colors.$cardBg;
    border-radius: 50%;

    object-fit: contain;
    object-position: center;
  }

  .greeting {
    margin-top: 10px;

    font: text.$buttonText;
  }

  .links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 40px;

    .active {
      color: colors.$button1Pressed;
    }

    .link a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;

      color: inherit;
    }

    .logout {
      margin-top: auto;
    }
  }

  .logo {
    margin-top: 50px;

    font: text.$logo;
  }
}