.wrp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  .content {
    position: relative;

    width: 842px;
    padding: 64px 110px;

    border-radius: 32px;
    border: 1px solid colors.$textAndBorder;
    background-color: colors.$bg;

    .close {
      position: absolute;
      top: 24px;
      right: 24px;

      width: 24px;
      height: 24px;

      cursor: pointer;
    }
  }
}