.chatBtn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 90;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  
  border: 1px solid colors.$textAndBorder;
  border-radius: 50%;
  background-color: colors.$button1;
  box-shadow: buttons.$btnShadowSmall;
  
  cursor: pointer;
  
  &:hover {
    box-shadow: none;
  }
    
  &:active {
    background-color: colors.$button1Pressed;
    box-shadow: none;
  }
    
  &:disabled {
    background-color: colors.$disabled;
    box-shadow: none;
    cursor: default;
  }
}