.wrp {
  width: 100%;
  margin-top: 160px;

  .header {
    margin-bottom: 24px;

    font: text.$h1h2;
    text-align: left;
  }

  .mapContainer {
    width: 100%;
    height: 400px;

    border: 1px solid colors.$textAndBorder;
    border-radius: 32px;
  }
}