.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  width: max-content;

  font: text.$message;

  .avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;
  }

  .cloud {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 4px;
    padding: 8px;

    background-color: colors.$accentBg;
    border-radius: 16px 0 16px 16px;
    border: 1px solid colors.$textAndBorder;

    .author {
      color: colors.$button2Pressed;
    }

    .content {
      align-self: flex-start;

      color: colors.$textAndBorder;
    }

    .messageData {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
      
      color: colors.$button2Pressed;
      
      .status {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.myMessage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  font: text.$message;

  .cloud {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px;

    background-color: colors.$button1;
    border-radius: 16px 0 16px 16px;

    .author {
      color: colors.$button2Pressed;
    }

    .content {
      align-self: flex-start;

      color: colors.$textAndBorder;

      .messageData {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        color: colors.$button2Pressed;
      }
    }
  }
}