.wrp {
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 100%;
  margin-top: 120px;

  .form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 58%;
    padding: 32px;

    background-color: colors.$formBg;
    border: 1px solid colors.$textAndBorder;
    border-radius: 32px;

    .nameLabel {
      font: text.$label;
    }
    
    .name {
      width: 100%;
      margin-top: 8px;
      padding: 16px 24px;

      font: text.$inputText;
      
      color: colors.$textAndBorder;
      background-color: colors.$cardBg;
      border-radius: 16px;
    }

    .name::placeholder {
      font: text.$placeholder;
      color: colors.$placeholder;
    }

    .authorLabel {
      margin-top: 40px;

      font: text.$label;
    }
    
    .author {
      width: 100%;
      margin-top: 8px;
      padding: 16px 24px;

      font: text.$inputText;
      
      color: colors.$textAndBorder;
      background-color: colors.$cardBg;
      border-radius: 16px;
    }

    .author::placeholder {
      font: text.$placeholder;
      color: colors.$placeholder;
    }

    .findBtn {
      align-self: center;
      width: 300px;
      height: 50px;
      margin-top: 40px;
      padding: 16px 24px;

      font: text.$buttonText;
      text-align: center;

      background-color: colors.$button1;
      box-shadow: buttons.$btnShadow;
      vertical-align: middle;
      border-radius: 16px;
      
      cursor: pointer;

      &:hover {
        box-shadow: none;
      }

      &:active {
        background-color: colors.$button1Pressed;
        box-shadow: none;
      }

      &:disabled {
        background-color: colors.$disabled;
        box-shadow: none;
        color: colors.$disabled;
      }
    }
  }

  .booksStack {
    width: 40%;
  }
}

