.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0 auto;

  .authWrp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    .authBtn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 190px;
      height: 50px;
      padding: 16px 24px;

      font: text.$buttonText;

      background-color: colors.$button2;
      border: 1px solid colors.$textAndBorder;
      border-radius: 16px;

      box-shadow: buttons.$btnShadow;
      cursor: pointer;

      .avatar {
        width: 32px;
        height: 32px;

        border: 1px solid colors.$textAndBorder;
        background-color: colors.$cardBg;
        border-radius: 50%;

        object-fit: contain;
        object-position: center;
      }
    }

    .lk {
      justify-content: space-between;
    }

    .authBtn:hover {
      box-shadow: none;
    }

    .authBtn:active {
      background-color: colors.$button2Pressed;
      box-shadow: none;
    }

    .authBtn:disabled {
      background-color: colors.$disabled;
      box-shadow: none;
      color: colors.$disabled;
    }
  }

  .logo {
    font: text.$logo;
  }

  .navMenu {
    display: flex;
    flex-direction: row;
    gap: 32px;

    font: text.$buttonText;
  }
}
