.deleteBook {
  width: 100%;
  padding: 82px 0;

  .header {
    margin-bottom: 40px;

    font: text.$h1h2v2;
  }

  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;

    font: text.$label;
    text-align: left;
      
    .btnsWrp {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 32px;
      width: 100%;
      margin-top: 8px;

      .btn {
        align-self: center;
        width: 300px;
        height: 50px;
        padding: 16px 24px;

        font: text.$buttonText;
        text-align: center;

        background-color: colors.$button1;
        box-shadow: buttons.$btnShadow;
        vertical-align: middle;
        border-radius: 16px;
        
        cursor: pointer;

        &:hover {
          box-shadow: none;
        }

        &:active {
          background-color: colors.$button1Pressed;
          box-shadow: none;
        }

        &:disabled {
          background-color: colors.$disabled;
          box-shadow: none;
          color: colors.$disabled;
        }
      }

      .submit {
        background-color: colors.$button3;

        &:active {
          background-color: colors.$error;
          box-shadow: none;
        }
      }
    }
  }
}