.rents {
  margin-top: 40px;

  .rentsHeader {
    font: text.$h1h2v2;
    text-align: left;
  }

  .rentsStatusWrp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
  
    margin-top: 24px;
  
    .label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    
      cursor: pointer;
    
      .desc:has(~ .radio:checked) {
        color: colors.$button1Pressed;
      
        border-bottom: 1px solid colors.$button1Pressed;
      }
    
      &:has(.radio:checked) {
        color: colors.$button1Pressed;
      }
      
      .radio {
        position: fixed;
        transform: scale(0);
      }
    }
  }

  .table {
    margin-top: 16px;
    width: 100%;
  
    background-color: colors.$cardBg;
    border: 1px solid colors.$textAndBorder;
    border-radius: 32px;
  
    .noResults {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 16px;
    }
  
    .row, .headerRow {
      display: flex;
      flex-direction: row;
      width: 100%;
    
      .cell {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 1px;
      
        color: colors.$textAndBorder;
      }
    
      .id {
        width: 5%;
      }
    
      .book {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 29%;
      
        word-break: break-all;
        overflow-wrap: break-word;
      
        .contactPhone {
          color: colors.$placeholder;
        }
      
        .email {
          color: colors.$placeholder;
        }
      }
    
      .library {
        justify-content: flex-start;
        width: 24%;

        text-align: left;
      }
    
      .dateStart {
        width: 14%;
      }
    
      .dateEnd {
        width: 14%;
      }
    
      .status {
        width: 14%;
      }
    }
  
    .headerRow {
      font: text.$buttonText;
    
      border-radius: 32px 32px 0 0;
      background-color: colors.$formBg;
    
      .cell {
        color: colors.$placeholder;
      }
    }
  
    .row {
      font: text.$tableText;
    
      border-top: 1px solid colors.$textAndBorder;
    
      &:nth-child(odd) {
        background-color: colors.$accentBg;
      }
    
      &:last-child {
        border-radius: 0 0 32px 32px;
      }
    }
  }

  .ownClientRentsTable {
    .row, .headerRow {
      .id {
        width: 5%;
      }

      .cover {
        width: 11%;
        padding: 10px;

        .coverImage {
          width: 100%;
          object-fit: contain;
        }
      }
    
      .book {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 29%;
        padding: 10px;
      
        word-break: break-all;
        overflow-wrap: break-word;
      
        // .title {
        //   color: colors.$placeholder;
        // }
      
        // .author {
        //   color: colors.$placeholder;
        // }
      }
    
      .library {
        width: 24%;
      }
    
      .dateStart {
        width: 11%;
      }
    
      .dateEnd {
        width: 11%;
      }
    
      .status {
        width: 9%;
      }
    }
  }
}