.addBook {
  width: 100%;

  .header {
    margin-bottom: 40px;

    font: text.$h1h2v2;
  }

  .form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 32px;

    font: text.$label;
    text-align: left;

    .selectDesc {
      width: 100%;
      margin-bottom: 32px;

      font: text.$textPv2;
      text-align: left;
    }

    .selectWrp {
      position: relative;

      width: 50%;

      .select {
        position: relative;
      
        width: 100%;
        height: 53px;
        padding: 16px 24px;
      
        font: text.$placeholder;
        text-align: left;
      
        border-radius: 16px;
        border: 1px solid colors.$textAndBorder;
        background-color: colors.$cardBg;
      
        cursor: pointer;
      
        &:focus {
          background-color: colors.$accentBg;
        }
      
        &::placeholder {
          color: colors.$placeholder;
        }
      
        .arrow {
          position: absolute;
          top: 14px;
          right: 24px;
        }
      
        .rotatedArrow {
          transform: rotate(180deg);
        }
      }

      .books {
        position: absolute;
        top: 69px;
        left: 0;

        display: none;
        flex-direction: column;
        max-height: 280px;
        width: 100%;

        background-color: colors.$cardBg;
        border: 1px solid colors.$textAndBorder;
        border-radius: 16px;

        .bookItem {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;
          padding: 16px 24px;

          cursor: pointer;

          .number {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;

            font: text.$digitInCircle;

            background-color: colors.$button1;
            border: 1px solid colors.$textAndBorder;
            border-radius: 50%;
          }
        
          &:hover {
            background-color: colors.$formBg;
          }
        
          &:first-of-type {
            border-radius: 16px 16px 0 0;
          }
        
          &:last-of-type {
            border-radius: 0 0 16px 16px;
          }
        }
      }

      .visibleBooks {
        display: flex;
      }
    }

    .inputText {
      width: 100%;
      margin-top: 8px;
      padding: 16px 24px;

      font: text.$placeholder;

      border-radius: 16px;
      border: 1px solid colors.$textAndBorder;
      background-color: colors.$cardBg;

      &:focus {
        background-color: colors.$accentBg;
      }

      &::placeholder {
        color: colors.$placeholder;
      }
    }

    .copies {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      width: calc(50% - 32px);
      
      .amountWrp {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 70px;
        width: min-content;
        height: 64px;
        padding: 16px;
        margin-top: 8px;

        background-color: colors.$cardBg;
        border-radius: 32px;
        border: 1px solid colors.$textAndBorder;

        .changeBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 34px;
          height: 34px;

          background-color: colors.$button2;
          border-radius: 50%;
          box-shadow: buttons.$btnShadowSmall;
          border: 1px solid colors.$textAndBorder;

          cursor: pointer;

          &:hover {
            box-shadow: none;
          }

          &:active {
            background-color: colors.$button2Pressed;
            box-shadow: none;
          }

          &:disabled {
            background-color: colors.$disabled;
            box-shadow: none;
            color: colors.$disabled;
          }
        }

        .amount {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 27px;
          padding: 0;

          font: text.$textP;

          border: none;
          background-color: transparent;

          &:focus-visible {
            outline: none;
          }
        }
      }
    }
      
    .btnsWrp {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 32px;
      width: 100%;
      margin-top: 8px;

      .btn {
        align-self: center;
        width: 300px;
        height: 50px;
        padding: 16px 24px;

        font: text.$buttonText;
        text-align: center;

        background-color: colors.$button1;
        box-shadow: buttons.$btnShadow;
        vertical-align: middle;
        border-radius: 16px;
        
        cursor: pointer;

        &:hover {
          box-shadow: none;
        }

        &:active {
          background-color: colors.$button1Pressed;
          box-shadow: none;
        }

        &:disabled {
          background-color: colors.$disabled;
          box-shadow: none;
          color: colors.$disabled;
        }
      }

      .submit {
        background-color: colors.$button2;

        &:active {
          background-color: colors.$button2Pressed;
          box-shadow: none;
        }
      }
    }
  }
}