.myBooks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 868px;
  // flex-grow: 1;
  margin-left: 80px;
  margin-bottom: 40px;

  .header {
    margin-bottom: 24px;

    font: text.$h1h2;
    text-align: left;
  }
}