.wrp {
  margin-top: 120px;

  .header {
    font: text.$h1h2;
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }

  .libraries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 32px;
    row-gap: 32px;
    margin-top: 120px;

    .header {
      width: 100%;

      font: text.$h1h2;
      text-align: left;
    }

    .library {
      display: flex;
      flex-direction: row;
      width: calc((100% - 64px) / 3);
      padding: 16px 16px 20px 24px;

      border: 1px solid colors.$textAndBorder;
      border-radius: 32px;

      .text {
        flex-grow: 1;

        .name {
          margin-bottom: 8px;

          font: text.$buttonText;
          text-align: left;
        }

        .address {
          font: text.$placeholder;
          text-align: left;

          color: colors.$placeholder;
        }
      }

      .copiesWrp {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 8px;
        flex-grow: 1;
      }
    }
  }
}