.form {
  margin-top: 120px;

  .header {
    font: text.$h1h2;
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }

  .libraries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 32px;
    row-gap: 32px;
    margin-top: 120px;

    .header {
      width: 100%;

      font: text.$h1h2;
      text-align: left;
    }

    .library {
      display: flex;
      flex-direction: row;
      width: calc((100% - 64px) / 3);
      padding: 16px 16px 20px 24px;

      border: 1px solid colors.$textAndBorder;
      border-radius: 32px;

      cursor: pointer;

      .radio {
        position: fixed;
        transform: scale(0);

        &:checked {
          background-color: colors.$cardBg;
        }
      }

      .text {
        flex-grow: 1;

        .name {
          margin-bottom: 8px;

          font: text.$buttonText;
          text-align: left;
        }

        .address {
          font: text.$placeholder;
          text-align: left;

          color: colors.$placeholder;
        }
      }

      .copiesWrp {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 8px;
        flex-grow: 1;
      }
    }
  }

  .dateRange {
    margin-top: 120px;
  }

  .submit {
    align-self: center;;
    width: 400px;
    height: 50px;
    margin-top: 160px;
    padding: 16px 24px;

    font: text.$buttonText;
    text-align: center;

    background-color: colors.$button1;
    box-shadow: buttons.$btn-shadow;
    vertical-align: middle;
    border-radius: 16px;
    
    cursor: pointer;

    &:hover {
      box-shadow: none;
    }

    &:active {
      background-color: colors.$button1Pressed;
      box-shadow: none;
    }

    &:disabled {
      background-color: colors.$disabled;
      box-shadow: none;
      color: colors.$disabled;
    }
  }
}