.libraryProfile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 868px;
  // flex-grow: 1;
  margin-left: 80px;
  margin-bottom: 40px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font: text.$h1h2v2;

    .name {
      text-align: left;
    }

    .back {
      display: flex;
      align-self: flex-start;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 115px;
      height: 40px;
      padding: 8px 16px;

      font: text.$buttonText;
      text-align: center;

      background-color: colors.$button1;
      box-shadow: buttons.$btn-shadow;
      vertical-align: middle;
      border-radius: 16px;

      cursor: pointer;

      &:hover {
        box-shadow: none;
      }
        
      &:active {
        background-color: colors.$button1Pressed;
        box-shadow: none;
      }
        
      &:disabled {
        background-color: colors.$disabled;
        box-shadow: none;
        color: colors.$disabled;
      }
    }
  }

  .card {
    width: 515px;
    padding: 32px;
    margin-top: 64px;

    text-align: left;

    background-color: colors.$accentBg;
    border-radius: 32px;
    border: 1px solid colors.$textAndBorder;

    .cardHeader {
      font: text.$h1h2v2;
    }

    .dataWrp {
      display: grid;
      grid-template-columns: 2fr 3fr;
      align-items: flex-start;
      column-gap: 24px;
      row-gap: 16px;
      margin-top: 24px;

      // word-break: break-all;

      .desc {
        font: text.$buttonText;

        color: colors.$placeholder;
      }

      .content {
        font: text.$textP;

        color: colors.$textAndBorder;
      }
    }

    .btnsWrp {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      width: 100%;
      margin-top: 40px;

      .btn {
        align-self: center;
        width: max-content;
        height: 50px;
        padding: 16px 24px;

        font: text.$buttonText;
        text-align: center;

        background-color: colors.$button1;
        box-shadow: buttons.$btn-shadow;
        vertical-align: middle;
        border-radius: 16px;
        
        cursor: pointer;

        &:hover {
          box-shadow: none;
        }

        &:active {
          background-color: colors.$button1Pressed;
          box-shadow: none;
        }

        &:disabled {
          background-color: colors.$disabled;
          box-shadow: none;
          color: colors.$disabled;
        }
      }

      .delete {
        background-color: colors.$button3;

        &:active {
          background-color: colors.$error;
          box-shadow: none;
        }
      }
    }
  }

  .books {
    margin-top: 40px;

    .booksForm {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 30px;
      width: 100%;

      margin-top: 24px;

      .label {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        cursor: pointer;

        .desc {
          padding-bottom: 8px;
        }

        .desc:has(~ .radio:checked) {
          color: colors.$button1Pressed;

          border-bottom: 1px solid colors.$button1Pressed;
        }

        &:has(.radio:checked) {
          color: colors.$button1Pressed;
        }
        
        .radio {
          position: fixed;
          transform: scale(0);
        }
      }

      .addBookBtn {
        width: 300px;
        height: 50px;
        padding: 16px 24px;
        margin-right: 4px;
        margin-left: auto;

        font: text.$buttonText;
        text-align: center;

        background-color: colors.$button1;
        box-shadow: buttons.$btn-shadow;
        vertical-align: middle;
        border-radius: 16px;

        cursor: pointer;

        &:hover {
          box-shadow: none;
        }

        &:active {
          background-color: colors.$button1Pressed;
          box-shadow: none;
        }

        &:disabled {
          background-color: colors.$disabled;
          box-shadow: none;
          color: colors.$disabled;
        }
      }
    }

    .table {
      margin-top: 24px;
      width: 100%;

      background-color: colors.$cardBg;
      border: 1px solid colors.$textAndBorder;
      border-radius: 16px;

      .noResults {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 16px;
      }

      .row, .headerRow {
        display: flex;
        flex-direction: row;
        width: 100%;

        .cell {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 16px 1px;

          color: colors.$textAndBorder;
        }

        .id {
          justify-content: center;
          width: 5%;
        }

        .title {
          // display: flex;
          // flex-direction: column;
          // align-items: flex-start;
          width: 21%;

          text-align: left;

          // word-break: break-all;
          // overflow-wrap: break-word;
        }

        .author {
          width: 18%;

          text-align: left;
        }

        .year {
          width: 7%;
        }

        .description {
          width: 22%;

          text-align: left;
        }

        .copies {
          justify-content: center;
          width: 16%;
        }

        .actions {
          display: flex;
          justify-content: center;
          gap: 16px;
          width: 11%;

          .action {
            background-color: transparent;

            cursor: pointer;

            .pencil {
              color: colors.$button2Pressed;
            }

            .trash {
              color: colors.$error;
            }
          }
        }
      }

      .headerRow {
        font: text.$buttonText;

        border-radius: 16px 16px 0 0;
        background-color: colors.$formBg;

        .cell {
          color: colors.$placeholder;
        }
      }

      .row {
        font: text.$tableText;

        border-top: 1px solid colors.$textAndBorder;

        &:nth-child(odd) {
          background-color: colors.$accentBg;
        }

        &:last-child {
          border-radius: 0 0 16px 16px;
        }
      }
    }

    .pagination {
      display: flex;
      flex-direction: row;
      width: max-content;
      gap: 40px;
      padding: 16px;
      margin: 32px auto 0;

      font: text.$placeholder;

      background-color: colors.$cardBg;
      border: 1px solid colors.$textAndBorder;
      border-radius: 32px;

      .navBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;

        background-color: colors.$button2;
        box-shadow: buttons.$btn-shadow;
        border: 1px solid colors.$textAndBorder;
        border-radius: 50%;

        cursor: pointer;

        &:hover {
          box-shadow: none;
        }
      }

      .chevrone {
        width: 24px;
      }
    }
  }
}
