.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .authWrp {
    .loginBtn {
      width: 190px;
      height: 50px;
      padding: 16px 24px;

      font: text.$buttonText;

      background-color: colors.$button2;
      border: 1px solid colors.$textAndBorder;
      border-radius: 16px;

      box-shadow: buttons.$btn-shadow;
    }
  }

  .navMenu {
    display: flex;
    flex-direction: row;
    gap: 32px;

    font: text.$buttonText;
  }
}
