.wrp {
  margin-top: 160px;

  .header {
    margin-bottom: 40px;

    font: text.$h1h2;
    text-align: left;
  }

  .books {
    display: flex;
    flex-direction: row;
    gap: 32px;

    overflow-x: scroll;
  }
}