.rentDatesWrp {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 100%;
  margin-top: 40px;

  .startRentWrp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(50% - 24px);
        
    .startRentWrpLabel {
      font: text.$label;

      cursor: pointer;
    }

    .startRent {
      position: relative;
      width: 100%;
      margin-top: 8px;
      padding: 16px 24px;

      font: text.$inputText;

      color: colors.$textAndBorder;
      background-color: colors.$cardBg;
      border-radius: 16px;
    }

    &::before {
      position: absolute;
      bottom: 16px;
      right: 24px;
      z-index: 2;

      width: 24px;
      height: 24px;

      background-image: url("../../assets/calendar-days.svg");
      background-repeat: no-repeat;
      background-position: center;

      color: colors.$placeholder;

      content: "";
    }
  }

  .endRentWrp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(50% - 24px);

    .endRentWrpLabel {
      font: text.$label;

      cursor: pointer;
    }

    .endRent {
      width: 100%;
      margin-top: 8px;
      padding: 16px 24px;

      font: text.$inputText;

      color: colors.$textAndBorder;
      background-color: colors.$cardBg;
      border-radius: 16px;
    }

    &::before {
      position: absolute;
      bottom: 16px;
      right: 24px;
      z-index: 2;

      width: 24px;
      height: 24px;

      background-image: url("../../assets/calendar-days.svg");
      background-repeat: no-repeat;
      background-position: center;

      color: colors.$placeholder;
      cursor: pointer;

      content: "";
    }
  }
}