.welcome {
  flex-grow: 1;
  margin-left: 80px;

  .header {
    font: text.$h1h2;
    text-align: left
  }

  .services {
    column-count: 2;
    column-gap: 32px;
    margin-top: 64px;

    .category {
      padding: 32px;
      margin-bottom: 32px;
      break-inside: avoid;

      border: 1px solid colors.$textAndBorder;
      border-radius: 32px;
      background-color: colors.$accentBg;

      .stats {
        .stat {
          margin-bottom: 16px;

          text-align: left;
        }

        .bold {
          margin-left: 18px;

          font-size: 22px;
          font-weight: 600;
        }
        
      }

      .actionWrp {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        .action {
          width: 300px;
          height: 50px;
          padding: 16px 24px;

          font: text.$buttonText;
          text-align: center;

          background-color: colors.$button1;
          box-shadow: buttons.$btn-shadow;
          vertical-align: middle;
          border-radius: 16px;

          cursor: pointer;

          &:hover {
            box-shadow: none;
          }
        
          &:active {
            background-color: colors.$button1Pressed;
            box-shadow: none;
          }
        
          &:disabled {
            background-color: colors.$disabled;
            box-shadow: none;
            color: colors.$disabled;
          }
        }
      }
    }
  }
}